<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>俺的网站</title>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div class="row">
        <h1>Hello, World!</h1>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item"><a class="btn btn-default" href="./2048">2048</a></li>
            <li class="list-group-item"><a class="btn btn-default" href="#">合成大西瓜魔改</a></li>
            <li class="list-group-item"><a class="btn btn-default" href="./MakeHust">合成华中大</a></li>
        </ul>
    </div>
</div>

</body>
</html>
